

<% if current_user %>
      <h3><%= link_to "Sign Out", '/logout', method: :delete %></h3>
      <div id="link-form">
        <%= form_for :link do |f| %>
            URL: <%= f.text_field :url %>
            Title: <%= f.text_field :title %>
            <%= f.submit %>
        <% end %>
      </div>

      <div id="links-table">
        <table>
          <thead>
            <tr>
              <th>Link</th>
              <th>Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tb-links">
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

<% else  %>
    <h3><%= link_to "Please login", "/login" %> <%= link_to "or sign up", new_user_path %></h3>
<% end %>